<!-- Fri Aug  4 15:54:37 IST 2023 -->
<h1 style="text-align: center;">{{ title }} </h1>
<div class="button">
    <input type='submit' style="text-align:center; color:red; font-size: x-large; border: 4px solid green; width:180px; letter-spacing: 7px; padding:0.7rem; line-height: 17px; font-weight: bold; ">
</div>
<div class="card" style="display: flex; flex-grow: 2rem; width: 100%; margin: 3rem;">
    <ul style="text-decoration: none; list-style: none; width: 240px; border: 2px solid red; margin: 3rem; padding: 2rem; font-size: 2rem;" *ngFor="let card of cards">
        <li *ngFor="let card of cards" style="display: flex; justify-items: flex-start; align-items: center; margin-left: 3rem;">{{card}}</li>
    </ul>   

</div>